<body>
  <ion-app>
    <ion-menu side="start" content-id="main-content">
      <ion-header>
        <ion-toolbar translucent>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item>
            <ion-icon name="person-outline"></ion-icon>
            <ion-label routerLink="/profil">Profil</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="log-out-outline"></ion-icon>
            <p (click)="signOut()">Deconnexion</p>

          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>

    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>Bienvenue</ion-title><ion-icon routerLink="/search"  slot="end" name="search-outline"></ion-icon>
        </ion-toolbar>
      </ion-header>
      <ion-content >
        <ion-card>
          <ion-list *ngFor="let user of donnee">
            <ion-item >
              <ion-label>{{user.nom}}</ion-label>
              <ion-label>{{user.prenom}}</ion-label>
            </ion-item>
          </ion-list>
        </ion-card>
      </ion-content>
    </div>
  </ion-app>
</body>